{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Mon Fil
{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('feed') }}
{% endblock %}

{% block body %}
<h1 class="text-center text-center mt-4 mb-3">Votre Fil</h1>
<section class="posts col-lg-6 offset-lg-3">
    {% for post in posts %}
    {% include "home/components/_posts.html.twig" %}
    {% endfor %}
</section>

{% endblock %}