@import "variable.scss";
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    background-color: $light;
}

p {
    font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5 {
    color : $secondary;
}

.navProfile {
    width: 35px;
    height: 35px;
}

