@import 'variable.scss';

.description {
    font-size: .8em;
}

.bi {
    font-size: 1.3em;
}

.user{
    font-weight: bold;
    font-size: 0.9em;
}

.pp {
    width: 40px;
    height: 40px;
}

.pseudo {
    font-size: 0.9em;
}