@import 'variable.scss';

.profilePicture{
    width: 60px;
    height: 60px;
}

.icone{
    font-size: 1.5em;
}

.commentPicture {
    width: 35px;
    height: 35px;
}

.comment {
    font-size: .8em;
}