{{ form_start(form) }}
<div class=" mb-3 mt-4 col-lg-6 offset-lg-3">
    {{ form_help(form.comment) }}
    {{ form_widget(form.comment) }}
    <button class="btn btn-outline-secondary col-12 rounded-bottom"><i class="bi bi-chat"></i></button>
</div>

{{ form_end(form) }}